/* RESET */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style-type: none;
}

/* GLOBAL */

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* FORM */

form {
  max-width: 600px;
  margin: 0 auto;
  padding: 48px;
}

form > ol {
  border: 1px solid green;
  border-radius: 8px;
  padding: 8px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

form li:not(:last-child) {
  display: flex;
  gap: 8px;
}

form label {
  width: 192px;
  padding: 8px;
  display: table-cell;
  background-color: lightgreen;
}

form div {
  flex-grow: 1;
}

form input {
  height: 32px;
  width: 100%;
}

form button[type="submit"] {
  margin-left: 200px;
  padding: 8px;
  border: 0;
  border-radius: 4px;
  background-color: lightgreen;
  font-size: 16px;
}

.errors {
  color: red;
}
